.monitoring {
    width: calc(960px + 400px);
    height: calc(80% - 65px - 60px);
    margin: 20px auto;
    display: grid;
    text-align: center;
    grid-template-areas:
        "roomlist weather"
        "roomlist noti"
        "condition noti"
}

@media only screen and (max-width: 1400px) {
    .monitoring {
        width: 100%;
    }
}
