
@import '../../../assets/sass/mixins.scss';
@import '../../../assets/sass/variables.scss';

.section-title {
  font-size: 2rem;
  border-bottom: 2px groove #0000005e;
}

.history-container {
  border-bottom: 2px groove #0000005e;
  font-size: 1.2rem;
  padding: 20px;
}