@import '../../assets/sass/variables.scss';

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu-logo {
    width: 31px;
    height: 59px;
}

.menu-item {
    font-size: calc(#{$normalFontSize} + 0.1em);
    margin-right: 30px;
    color: white;

    a {
        display: inline-block;
        color: white;
        text-decoration: none;

        &:hover {
            color: white;
        }

        &::after {
            content: '';
            display: block;
            width: 0;
            height: 3px;
            background: white;
            transition: width .3s;
        }
    
        &:hover::after {
            width: 80%;
        }
    }

    .active {
        &::after {
            width: 80%;
        }
    }
}


@media only screen and (max-width: 1400px) {
    .menu-logo {
        width: 20px;
        height: 42px;
    }

    .menu-item {
        font-size: calc(#{$smallScreenFontSize} + 0.1em);
        margin-right: 20px;
    }
}