@import '../../../assets/sass/mixins.scss';

.weather-container {
    @include background();
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    margin-bottom: 20px;

    .weather, .date-and-time {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .weather {
        img {
            width: 120px;
            margin-top: -25px;
        }

        p {
            margin: 0;
            font-size: 1.5em;
            margin-top: -25px;
        }
    }

    .date-and-time {
        h3 {
            margin-bottom: 10px;
            font-size: 2em;
        }
    }

}

/* Small devices (phones, tablets and down) */
@media only screen and (max-width: 992px) {
    .weather-container {
        width: calc(100vw - 40px);
        margin-top: 20px;

        .date-and-time {
            h3 {
                font-size: 1.8em;
            }
        }
    }
}