@import '../../../assets/sass/variables.scss';

.history-container {
    overflow: auto;
}

.history-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid $borderColor;
    padding: 15px 0;
    font-size: 1.2em;

    .condition-info {
        p {
            display: inline;
            margin-right: 20px;

            .fas {
                font-size: 1.5em;
            }
        }
    }

    &:last-child {
        border-bottom: 2px solid $borderColor;
    }
}

@media only screen and (max-width: 1280px) {
    .history-item {
        font-size: 1em;
        .fas {
            font-size: 1.1em;
        }
    }
}