@import '../../../assets/sass/mixins.scss';
@import '../../../assets/sass/variables.scss';

.room {
    @include background();
    width: 160px;
    padding: 10px;
    margin-right: 20px;
    text-align: center;
    transition: box-shadow .3s;

    img {
        width: 100%;
    }

    p {
        font-size: $normalFontSize;
        margin: 0;
    }

    &:hover {
        cursor: pointer;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
}

.room.chosen {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

    p {
        font-weight: 700;
    }
}

@media only screen and (max-width: 1400px) {
    .room {
        p {
            font-size: $smallScreenFontSize;
        }
    }
}