@import '../../../assets/sass/mixins.scss';
@import '../../../assets/sass/variables.scss';

.noti {
    @include background();
    max-height: calc(75px + 250px + 40px);
    min-height: 381px;
    text-align: left;

    .noti-header {
        width: 100%;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        padding: 20px;
        font-size: $normalFontSize;
        font-weight: 700;
    }
}

/* Small devices (phones, tablets and down) */
@media only screen and (max-width: 992px) {
    .noti {
        min-height: 324px;
        width: calc(100vw - 40px);

        .noti-header {
            font-size: $smallScreenFontSize;
        }
    }
}