@import '../../../../assets/sass/variables.scss';
@import '../../../../assets/sass/mixins.scss';

.condition-item {
    @include background();
    width: 50%;
    max-height: calc(75px + 250px + 40px);
    text-align: center;
    padding: 10px;
    margin-right: 20px;

    p {
        font-size: 1.2em;
    }
}

.condition-item-chart {
    display: inline-block;
    margin: 10px auto;
    max-width: 80%;
    max-height: 250px;

    .circle-bg {
        fill: none;
        stroke: #eee;
        stroke-width: 3.8;
    }
    
    .circle {
        fill: none;
        stroke-width: 2.8;
        stroke-linecap: round;
        animation: progress 1s ease-out forwards;
    }

    &.orange .circle {
        stroke: $primaryColor;
    }

    .percentage {
        fill: #666;
        font-size: 0.35em;
        text-anchor: middle;
    }
}


@keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
}